body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  position: absolute;
  top: 1em;
  border-radius: 13px;
  background: black;
  padding: 2em;
}

span.vue {
  position: relative;
  top: -61px;
  right: -137.8px;
  background: orange;
  color: white;
  padding: 3px 9px;
  border-top-right-radius: 13px;
} 